# Deployer
DEPLOYER_PRIVATE_KEY=
# RPC
OPBNB_TESTNET_RPC=https://opbnb-testnet-rpc.bnbchain.org
OPBNB_MAINNET_RPC=https://opbnb-mainnet-rpc.bnbchain.org
# API Keys
OPBNB_API_KEY=
# Gas Reporter
REPORT_GAS=false
# Contract Addresses (filled after deployment)
CMS_CONTRACT=
STAKING_CONTRACT=
AFFILIATE_CONTRACT=
LIQUIDITY_POOL_CONTRACT=
ATOMIC_P2P_CONTRACT=
KAIRO_TOKEN_CONTRACT=
USDT_CONTRACT=
# System
SYSTEM_WALLET=
HOSTINGER='THMFx5DqM3UI&PH1'
HOSTINGER_MCP_API_KEY=YrGg4X15lP5oHyBqrkIDCbQHmmsiY1sunFWtD6uF94927807
