NODE_ENV=development
PORT=4000

# Database
DATABASE_URL=postgresql://kairo_admin:password@localhost:5432/kairo_dev

# Redis
REDIS_URL=redis://localhost:6379

# Blockchain
RPC_URL=https://opbnb-testnet-rpc.bnbchain.org
RPC_WS_URL=wss://opbnb-testnet-rpc.bnbchain.org
CHAIN_ID=5611
INDEXER_PRIVATE_KEY=

# Contract Addresses
KAIRO_TOKEN_ADDRESS=
LIQUIDITY_POOL_ADDRESS=
STAKING_MANAGER_ADDRESS=
AFFILIATE_DISTRIBUTOR_ADDRESS=
CMS_ADDRESS=
ATOMIC_P2P_ADDRESS=

# System
SYSTEM_WALLET=
